$h1size: 473px;

html, body {
  overflow-x: hidden;
}

html {
  background: #202e4b url(/images/body-background.jpg) no-repeat -220px top;
}

body > header {
  background: transparent;
  h1 {
    display: block;
    margin-left: -7px;
    a {
      display: block;
      img {
        display: block;
        width: $h1size;
        &:hover {
          -webkit-animation-name: tp1;
          -webkit-animation-duration: 1.9555s;
          -webkit-animation-iteration-count: infinite;
          cursor: pointer;
        }
      }
    }
  }
  h2 {
    margin-top: -.4em;
    color: rgba(#fff,.8);
    text-shadow: 0 -1px 0 rgba(#000,.9);
    font-family: monospace;
    font-size: 1.1em;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 992px) {
  html {
    background-position-x: -370px;
  }
  body > header {
    h1 {
      margin-left: -5px;
    }
    h1 a img {
      width: $h1size / 1.3;
    }
    h2 {
      font-size: 15px;
    }
  }
}
@media only screen and (max-width: 768px) {
  body > header {
    h1 a img {
      width: $h1size / 1.7;
    }
    h2 {
      font-size: 12px;
    }
  }
}



@-webkit-keyframes tp1 {
  0% {
  -webkit-transform: translate(-2px,0px);
  }
  10% {
  -webkit-transform: translate(-2px,0px) rotate(-1deg);
  }
  20% {
  -webkit-transform: translate(-5px,-5px) rotate(-3deg);
  }
  30% {
  -webkit-transform: translate(-8px,2px) rotate(-3deg);
  }
  40% {
  -webkit-transform: translate(-5px,-5px) rotate(-1deg);
  }
  60% {
  -webkit-transform: translate(-2px,0px) rotate(1deg);
  }
  70% {
  -webkit-transform: translate(5px,-5px) rotate(3deg);
  }
  80% {
  -webkit-transform: translate(8px,2px) rotate(3deg);
  }
  90% {
  -webkit-transform: translate(5px,-5px) rotate(1deg);
  }
  100% {
  -webkit-transform: translate(-2px,0px);
  }
}